.jai-map-wrap .jai-map-container {
  display: block;
  margin-bottom: 20px;
}
.jai-map-wrap .jai-map-container > img {
  width: 100%;
}
.jai-map-wrap .jai-map-container .point {
  background-size: cover;
  height: 15px;
  width: 15px;
}
.jai-map-wrap .jai-map-container .ja-marker-default {
  background: url("../../../images/ico/icon-marker-default.png") no-repeat right top;
}
.jai-map-wrap .cd-dropdown {
  margin-bottom: 20px;
}
.jai-map-wrap .cd-dropdown > span {
  background: #f0f0f0;
  border-radius: 2px;
  color: #e34b51;
  min-width: 180px;
}
.jai-map-wrap .cd-dropdown > span:after {
  background: #e34b51;
}
.jai-map-wrap .cd-dropdown ul {
  background: #e5e5e5;
  border: 1px solid #ddd;
  border-radius: 0 0 2px 2px;
  min-width: 180px;
}
.jai-map-wrap .cd-dropdown ul li span {
  display: block;
}
.jai-map-wrap .cd-dropdown ul li span:hover {
  color: #e34b51;
}
.jai-map-wrap .cd-dropdown > span:after {
  border-radius: 2px 0 0 2px;
}
.jai-map-wrap .cd-active.cd-dropdown > span {
  color: #e34b51;
}
.jai-map-description h5 {
  font-weight: 700;
  font-size: 15px;
  color: #333333;
}
.jai-map-description > a {
  font-weight: bold;
  font-size: 11px;
}
.jai-map-container .popover .x-close span {
  text-indent: -9999em;
}