.docs-section {
  margin-bottom: 40px;
}
.docs-section .page-header {
  margin-bottom: 20px;
}
.docs-section .page-header h1 {
  font-size: 39px;
}
.example-type h1,
.example-type h2,
.example-type h3,
.example-type h4,
.example-type h5,
.example-type h6 {
  margin: 20px 0;
}
.example-colors .swatch-item {
  width: 100%;
  min-height: 100px;
  position: relative;
  background: #333333;
  color: #ffffff;
  margin-bottom: 20px;
}
.example-colors .swatch-item dl {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px;
  margin: 0;
}
.example-colors .color-brand-primary {
  background: #93c548;
}
.example-colors .color-brand-secondary {
  background: #428bca;
}
.example-colors .color-brand-success {
  background: #5cb85c;
}
.example-colors .color-brand-danger {
  background: #d9534f;
}
.example-colors .color-brand-warning {
  background: #f0ad4e;
}
.example-colors .color-brand-info {
  background: #5bc0de;
}
.example-colors .color-gray-darker {
  background: #222222;
}
.example-colors .color-gray-dark {
  background: #333333;
}
.example-colors .color-gray {
  background: #555555;
}
.example-colors .color-gray-light {
  background: #999999;
  color: #333333;
}
.example-colors .color-gray-lighter {
  background: #eeeeee;
  color: #333333;
}
.example-colors .color-gray-lightest {
  background: #f7f7f7;
  color: #333333;
}
.example-buttons .btn,
.example-inputs .btn,
.example-buttons .form-control,
.example-inputs .form-control {
  width: 100%;
  margin-bottom: 20px;
}