.com_easyblog .cl {
  clear: both;
}
.com_easyblog div#eb {
  
  
}
.com_easyblog div#eb a:hover,
.com_easyblog div#eb a:focus,
.com_easyblog div#eb a:active {
  background-color: transparent;
  color: #ec3713;
  text-decoration: underline;
}
.com_easyblog div#eb img {
  max-width: none !important;
}
.com_easyblog div#eb .eb-post-foot > div .fa,
.com_easyblog div#eb .eb-entry-meta .fa,
.com_easyblog div#eb .eb-post-meta .fa,
.com_easyblog div#eb .text-muted {
  color: #ccc;
  font-size: 11px;
}
.com_easyblog div#eb .eb-avatar img {
  border-radius: 0;
  height: 50px;
  width: 50px;
}
.com_easyblog div#eb .form-control:focus {
  border: 1px solid #f2735a;
  box-shadow: none;
}
.com_easyblog div#eb .eb-brand-name {
  border: 0 none !important;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-transform: none;
}
.com_easyblog div#eb .eb-header .eb-brand-bio {
  margin: 7px 0 0;
}
.com_easyblog div#eb .eb-post-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.com_easyblog div#eb .eb-post-title a {
  color: #f2735a;
}
.com_easyblog div#eb .eb-post-title a:hover {
  color: #ec3713;
}
.com_easyblog div#eb .eb-showcase-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.com_easyblog div#eb .eb-showcase-title a {
  color: #f2735a;
}
.com_easyblog div#eb .eb-showcase-title a:hover {
  color: #ec3713;
}
.com_easyblog div#eb .btn {
  border-radius: 4px;
  font-weight: 400;
}
.com_easyblog div#eb .btn-default {
  background-color: #f2735a !important;
  border: 1px solid #f05f42 !important;
  border-radius: 4px;
  color: #fff !important;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 12px 5px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.com_easyblog div#eb .btn-default:hover,
.com_easyblog div#eb .btn-default:active,
.com_easyblog div#eb .btn-default:focus {
  color: #fff !important;
  text-decoration: none;
}
.com_easyblog div#eb .open .dropdown-toggle_div#fd .btn-default {
  color: #fff !important;
  text-decoration: none;
}
.com_easyblog div#eb .btn-primary {
  background-color: #f2735a !important;
  border-color: #f05f42 !important;
}
.com_easyblog div#eb .btn-primary:hover,
.com_easyblog div#eb .btn-primary:active,
.com_easyblog div#eb .btn-primary:focus {
  background-color: #ec3713 !important;
  border: 1px solid #ec3713 !important;
  color: #fff !important;
  text-decoration: none;
}
.com_easyblog div#eb .eb-post-more .btn-default,
.com_easyblog div#eb .eb-showcase-more .btn-default {
  background: none !important;
  border: none !important;
  font-size: 11px !important;
  padding: 0 15px 0 0 !important;
  position: relative;
  color: #e34b51 !important;
}
.com_easyblog div#eb .eb-post-more .btn-default:after,
.com_easyblog div#eb .eb-showcase-more .btn-default:after {
  font-family: FontAwesome;
  font-size: 12px;
  content: "\f0a9";
  color: #ccc;
  right: 0;
  position: absolute;
  top: 0;
}
.com_easyblog div#eb .eb-post-more .btn-default:hover,
.com_easyblog div#eb .eb-showcase-more .btn-default:hover,
.com_easyblog div#eb .eb-post-more .btn-default:active,
.com_easyblog div#eb .eb-showcase-more .btn-default:active,
.com_easyblog div#eb .eb-post-more .btn-default:focus,
.com_easyblog div#eb .eb-showcase-more .btn-default:focus {
  background: none !important;
  border: none !important;
  text-decoration: underline !important;
}
.com_easyblog div#eb .eb-navbar .eb-navbar__footer li > a {
  color: #333333;
}
.com_easyblog div#eb .eb-navbar .eb-navbar__footer li > a:hover,
.com_easyblog div#eb .eb-navbar .eb-navbar__footer li > a:active,
.com_easyblog div#eb .eb-navbar .eb-navbar__footer li > a:focus {
  text-decoration: none;
  color: #e34b51;
}
.com_easyblog div#eb .eb-navbar .eb-navbar__footer li.is-active > a {
  color: #e34b51;
}
.com_easyblog div#eb .eb-navbar .eb-navbar__footer li.is-active > a:before {
  background-color: #e34b51;
}
.com_easyblog div#eb .eb-showcases {
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
.com_easyblog div#eb .eb-showcase {
  padding: 0;
}
.com_easyblog div#eb .eb-showcase .eb-post-thumb.is-left {
  float: none;
  margin-left: 0;
}
.com_easyblog div#eb .eb-showcase .eb-post-thumb .eb-post-image {
  background: #fff;
  border: none;
  border-radius: 0;
  display: block;
  height: 240px;
  margin: 0 !important;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  width: 100% !important;
}
.com_easyblog div#eb .eb-showcase .eb-post-thumb .eb-post-image-cover {
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}
.com_easyblog div#eb .eb-showcase-indicators {
  background: #f5f5f5;
  bottom: 0;
  display: block;
  font-size: 0;
  right: inherit;
  position: absolute;
  left: 0;
  top: inherit;
  width: 100%;
}
.com_easyblog div#eb .eb-showcase-indicators > li,
.com_easyblog div#eb .eb-showcase-indicators > li.active {
  margin: 15px 5px 5px;
}
.com_easyblog div#eb .eb-showcase-control.btn-group {
  display: none;
}
.com_easyblog div#eb .eb-showcase-content {
  display: table;
  height: auto;
  padding: 15px 0 0 0;
}
.com_easyblog div#eb .eb-showcase-content .eb-avatar-sm img {
  margin-left: 20px;
  height: 50px;
  width: 50px;
}
.com_easyblog div#eb .eb-showcase-content-left {
  padding: 0 0 20px 0;
}
.com_easyblog div#eb .eb-showcase-content-right {
  vertical-align: top;
  padding: 0 0 20px 0;
}
.com_easyblog div#eb .eb-showcase-article a[data-truncater-more=""] {
  display: none;
}
.com_easyblog div#eb .eb-posts {
  padding: 20px 0 0 0;
}
.com_easyblog div#eb .eb-post {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}
.com_easyblog div#eb .eb-post + .eb-post {
  margin-top: 30px;
}
.com_easyblog div#eb .eb-post-thumb .eb-post-image {
  border: none;
  border-radius: 0;
  padding: 0;
}
.com_easyblog div#eb .eb-post-featured {
  margin-bottom: 5px;
}
.com_easyblog div#eb .eb-post-foot {
  font-size: 11px;
}
.com_easyblog div#eb .eb-post-foot .pull-right > .col-cell + .col-cell {
  border-right: 1px dotted #aaa;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
}
.com_easyblog div#eb .eb-post-foot .eb-post-hits {
  border-left: 1px dotted #aaa;
  padding: 0 0 0 10px;
  margin: 0 0 0 10px;
}
.com_easyblog div#eb .eb-post-foot .pull-right > .col-cell,
.com_easyblog div#eb .eb-post-foot .pull-left > .col-cell {
  float: right;
  height: 16px;
  line-height: 16px;
}
.com_easyblog div#eb .eb-post-foot .eb-post-more .btn-default {
  line-height: 16px;
}
.com_easyblog div#eb .eb-post-foot > .col-cell.eb-post-more {
  border-right: none;
}
.com_easyblog div#eb .eb-post-foot .eb-rating {
  margin-top: 0;
}
.com_easyblog div#eb .eb-post-foot .eb-rating form > div {
  margin: 0;
}
.com_easyblog div#eb .eb-post-comment-date {
  font-style: italic;
}
.com_easyblog div#eb .eb-rating-link,
.com_easyblog div#eb .eb-ratings-value {
  font-size: 11px;
  font-weight: 400;
  height: 16px;
  line-height: 16px;
}
.com_easyblog div#eb .eb-ratings-value {
  background: #ccc;
  border-radius: 15px;
  color: #fff;
  min-width: 20px;
  padding: 0 7px;
}
.com_easyblog div#eb .eb-comment-notice.alert {
  padding-right: 50px;
}
.com_easyblog div#eb .eb-entry-tools {
  margin: 0 0 5px;
  font-size: 11px;
}
.com_easyblog div#eb .eb-help-resize a {
  background: #b2b2b2;
  border-radius: 0;
  font-size: 12px;
  height: 12px;
  line-height: 11px;
  text-align: center;
  text-decoration: none !important;
  width: 12px;
}
.com_easyblog div#eb .eb-help-resize a:hover,
.com_easyblog div#eb .eb-help-resize a:focus {
  background: #01a3d4;
}
.com_easyblog div#eb .eb-entry-helper > div + div {
  border-right: 1px solid #e5e5e5;
  margin: 0 7px 0 0;
  padding: 0 10px 0 0;
}
.com_easyblog div#eb .eb-entry-helper > div + div .fa {
  color: #b2b2b2;
  font-size: 12px;
  margin: 0 0 0 5px;
}
.com_easyblog div#eb #bookmark-link a .at-icon-wrapper {
  background: #b2b2b2 !important;
  bottom: -2px;
  height: 12px !important;
  line-height: 12px;
  margin-left: 7px;
  position: relative;
  width: 12px !important;
}
.com_easyblog div#eb #bookmark-link a .at-icon-wrapper .at-icon {
  height: 12px !important;
  width: 12px !important;
}
.com_easyblog div#eb .eb-entry-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.com_easyblog div#eb .eb-entry-title a {
  color: #777;
}
.com_easyblog div#eb .eb-entry-title a:hover {
  color: #f2735a;
}
.com_easyblog div#eb .eb-entry-meta {
  margin: 5px 0 20px;
}
.com_easyblog div#eb .eb-section-heading {
  border-bottom: none;
  font-size: 23px;
  font-weight: 500;
  margin: 20px 0 10px;
  padding: 10px 0;
  text-transform: none;
}
.com_easyblog div#eb .eb-entry-nav > div > a {
  color: #f2735a;
  width: 100%;
}
.com_easyblog div#eb .eb-entry-nav > div > a:hover {
  background: none;
  color: #ec3713;
}
.com_easyblog div#eb .eb-entry-author-bio.media {
  background: #f5f5f5;
  border-bottom: none;
  padding: 10px 10px 0 10px;
  margin: 0;
}
.com_easyblog div#eb .eb-entry-author-bio.media .col-cell {
  vertical-align: top;
}
.com_easyblog div#eb .eb-entry-author .eb-avatar img {
  height: auto;
  width: 50px;
}
.com_easyblog div#eb .eb-entry-author-bio h3 a {
  color: #f2735a;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}
.com_easyblog div#eb .eb-entry-author-meta span a {
  color: #f2735a;
}
.com_easyblog div#eb .eb-entry-author-meta span a:hover {
  color: #ec3713;
}
.com_easyblog div#eb .eb-entry-author-details {
  margin-top: 10px;
}
.com_easyblog div#eb .eb-entry-author-recents {
  background: #f5f5f5;
  border-radius: 0;
  border-top: none;
  font-size: 13px;
  margin: 0;
  padding: 10px 10px 20px;
}
.com_easyblog div#eb .eb-entry-author-recents a {
  color: #f2735a;
}
.com_easyblog div#eb .eb-entry-author-recents a:hover {
  color: #ec3713;
}
.com_easyblog div#eb .eb-entry-author-recents > h5 {
  font-size: inherit;
  font-weight: 500;
  margin: 0 0 10px;
}
.com_easyblog div#eb .eb-entry-author-recents > div + div {
  border-top: 1px dotted #ccc;
  margin-top: 5px;
  padding-top: 5px;
}
.com_easyblog div#eb .eb-entry-author .eb-avatar img {
  border: none;
}
.com_easyblog div#eb .spans-seperator {
  font-size: 13px;
  margin: 0;
}
.com_easyblog div#eb .eb-authors-head {
  background: #fff;
}
.com_easyblog div#eb .eb-authors-name a {
  color: #f2735a;
  font-size: 16px;
  font-weight: 500;
}
.com_easyblog div#eb .eb-authors-name a:hover {
  color: #ec3713;
}
.com_easyblog div#eb .eb-authors-bio .eb-authors-subscribe {
  margin-top: 10px;
}
.com_easyblog div#eb .eb-related-title {
  color: #777;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 5px;
}
.com_easyblog div#eb .eb-related-title a:hover {
  color: #ec3713;
}
.com_easyblog div#eb .eb-category-name {
  padding: 0 0 4px;
}
.com_easyblog div#eb .eb-category-name a {
  font-size: 16px;
  font-weight: 500;
  color: #f2735a;
  line-height: 18px;
  text-transform: none;
}
.com_easyblog div#eb .eb-category-profile {
  padding: 15px;
}
.com_easyblog div#eb .eb-category-stats {
  margin: 0 15px 15px;
}
.com_easyblog div#eb .eb-stats-nav > li .btn {
  border-color: #ec3713 !important;
}
.com_easyblog div#eb .eb-stats-nav > li.active > .btn,
.com_easyblog div#eb .eb-stats-nav > li > .btn:hover {
  background: #ec3713 !important;
}
.com_easyblog div#eb .eb-stats-categories .btn i,
.com_easyblog div#eb .eb-stats-tags .btn i {
  color: #fff !important;
}
.com_easyblog div#eb .eb-stats-categories .btn:hover i,
.com_easyblog div#eb .eb-stats-tags .btn:hover i {
  opacity: 1;
}
.com_easyblog div#eb .eb-stats-content .eb-stats-author > a.col-cell {
  width: 85px;
}
.com_easyblog div#eb .eb-tags-item:hover {
  border: 1px solid #f2735a;
}
.com_easyblog div#eb .eb-tags {
  margin: 20px 0 0;
}
.com_easyblog div#eb .eb-tags span {
  margin: 0 0 5px 5px;
}
.com_easyblog div#eb .eb-tags span:after {
  content: " ";
}
.com_easyblog div#eb .eb-tags span a {
  background: none !important;
  border: 1px solid #eee;
  border-radius: 4px;
  font-size: 11px;
  height: auto;
  line-height: normal;
  padding: 5px 10px;
}
.com_easyblog div#eb .eb-tags span a:hover {
  text-decoration: none;
  border: 1px solid #f2735a;
}
.com_easyblog div#eb .eb-tags span a:before {
  content: " ";
}
.com_easyblog div#eb .eb-posts-search .eb-post + .eb-post {
  border-top: none;
  margin-top: 0;
  padding-top: 30px;
}
.com_easyblog div#eb .eb-pagination {
  border-top: none;
  margin-top: 0;
}
.com_easyblog div#eb .eb-alert {
  padding: 10px 50px 10px 15px;
}
.com_easyblog div#eb .eb-navbar-toggle {
  text-shadow: none;
  color: #fff;
}