#ja-bulletin ul li {
  list-style: none;
  border-bottom: none;
  clear: both;
  padding: 10px 0;
}
#ja-bulletin ul li > div {
  line-height: 20px;
  font-size: 11px;
}
#ja-bulletin ul li .creatdate {
  color: #b7b7b7;
  display: block;
  line-height: normal;
  margin-top: -2px;
}
#ja-bulletin ul li span {
  font-size: 11px;
  padding-right: 4px;
}
#ja-bulletin ul li > div > a.mostread {
  font-weight: bold;
  color: #474747;
  display: block;
  margin: 5px 0 0;
  line-height: 18px;
}
#ja-bulletin ul li > div > a.mostread:hover,
#ja-bulletin ul li > div > a.mostread:focus,
#ja-bulletin ul li > div > a.mostread:active {
  color: #33bed9;
  text-decoration: none;
}
#ja-bulletin ul li img {
  border-radius: 2px;
  float: right;
  position: inherit;
  top: 0;
}
#ja-bulletin ul li .readon {
  display: block;
  margin-top: 5px;
}
#ja-bulletin ul li:first-child {
  padding-top: 0;
}
#ja-bulletin .lastviews li {
  background: #ffffff;
  border-radius: 2px;
  border: solid 1px #eeeeee;
  margin: 0;
  padding: 5px 10px;
}
#ja-bulletin .lastviews li:first-child {
  padding-top: 5px;
}
#ja-bulletin .lastviews li .creatdate,
#ja-bulletin .lastviews li .mostread {
  display: inline-block;
}
#ja-bulletin .lastviews li a.mostread {
  color: #33bed9;
}
#ja-bulletin .lastviews li a.mostread:hover,
#ja-bulletin .lastviews li a.mostread:focus,
#ja-bulletin .lastviews li a.mostread:active {
  color: #1e8ca1;
}
#ja-bulletin .lastviews li .creatdate {
  border-left: solid 1px #eeeeee;
  margin-left: 10px;
  padding-left: 10px;
}
#ja-bulletin .lastviews li .lastviews-image {
  display: inline;
}